@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    333 W Main St<br />
    Kent, OH 55555-4444<br />
</address>

<address>
    <strong>Sales:</strong> 333.333.4444<br />
    <strong>Service:</strong> 333.333.4444
</address>